<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <title>Aktywuj konto</title>
</head>
<body>
<main class="main-content" layout:fragment="content">
  <h2 class="list-heading">Rejestracje przebiegła pomyślnie</h2>
  <h3 class="list-heading">Zaloguj się na swój email i aktywuj konto</h3>
  <p class="list-heading">Po aktywacji zostaniesz przekierowany do strony logowania</p>
</main>
</body>
</html>