<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Lista kategorii - MovieClub</title>
</head>
<body>
<main class="main-content" layout:fragment="content">

    <h2 class="list-heading">Gatunki filmowe</h2>
    <p class="list-description">Poniżej znajdziesz listę gatunków filmowych w naszym katalogu. Wybierz coś dla
        siebie</p>

    <ul class="list-border">
        <li th:each="genre: ${genres}">
            <a th:href="@{|/gatunek/${genre.name}|}"
               th:text="${genre.name}">
                Horror
            </a>
            <a href="#" th:href="@{|/admin/edytuj-gatunek/${genre.id}|}" sec:authorize="hasAnyRole('ADMIN', 'EDITOR')"
               class="edit-genre-link">
                - Edytuj
            </a>
            <a href="#" th:href="@{|/admin/usun-gatunek/${genre.id}|}" sec:authorize="hasAnyRole('ADMIN', 'EDITOR')"
               class="edit-genre-link">
                - Usuń
            </a>
        </li>
    </ul>
</main>
</body>
</html>