<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <title th:text="|${movie.title} - MovieClub|"> Tytuł filmu - MovieClub</title>
</head>
<body>
<div class="container">

    <main class="main-content" layout:fragment="content">
        <section class="movie">
            <div class="movie-summary">
                <img src="../static/img/poster-placeholder.png"
                     th:src="${movie.poster ne null} ? @{|/image/${movie.poster}|} : @{/img/poster-placeholder.png}"
                     alt="Plakat filmu" class="movie-summary-cover"
                />
                <div class="movie-summary-info">
                    <h1 class="movie-summary-title" th:text="${movie.title}">Władca pierścieni</h1>
                    <p class="movie-summary-original-title" th:text="${movie.oryginalTitle}">Lord of the rings</p>
                    <p class="movie-summary-item" sec:authorize="hasAnyRole('ADMIN', 'EDITOR')">
                        <a href="#" th:href="@{|/admin/edytuj-film/${movie.id}|}">Edytuj</a><br>
                        <a href="#" th:href="@{|/admin/usun-film/${movie.id}|}">Usuń</a>
                    </p>
                    <p class="movie-summary-item" th:text="|Rok: ${movie.releaseYear}|">Rok: 2001</p>
                    <p class="movie-summary-item">Gatunek: <a href="#"
                                                              th:href="${movie.genre != 'Brak'} ?
                                                                @{|/gatunek/${movie.genre}|} : @{/gatunki-filmowe}"
                                                              th:text="${movie.genre}"
                    >Fantasy</a></p>
                    <p class="movie-summary-item" th:text="${movie.shortDescription}">
                        Podróż odważnego hobbita i jego towarzyszy w poszukiwaniu pierścienia.
                    </p>
                    <div class="favorite">

                        <a th:if="!${@favorite.isExist(movie)}" href="#" th:href="@{|/favorite/dodaj/${movie.id}|}">
                            <i class="fa-solid fa-heart" style="color: red"></i> Dodaj do ulubionych</a>
                        <a th:if="${@favorite.isExist(movie)}" href="#" th:href="@{|/favorite/usun/${movie.id}|}">
                            <i class="fa-regular fa-heart" style="color: red"></i> Usuń z ulubionych</a>
                    </div>
                </div>
            </div>
            <div class="movie-rating-container movie-section">
                <h2 class="movie-section-heading">Ocena</h2>
                <p th:unless="${movie.ratingCount}">Brak głosów</p>

                <div th:if="${movie.ratingCount}">
                    <p class="movie-rating-value" th:text="${#numbers.formatDecimal(movie.avgRating,1,1)}">4.0</p>
                    <p th:text="|Liczba ocen: ${movie.ratingCount}|">Liczba ocen: 134</p>
                </div>
                <form action="#" th:action="@{/ocen-film}" method="post" class="movie-rating-form"
                      sec:authorize="isAuthenticated()">
                    <p>Twoja ocena</p>
                    <!-- Identyfikator filmu, na który głosujemy-->
                    <input type="hidden" name="movieId" th:value="${movie.id}">
                    <div class="movie-rating-buttons">
                        <button class="movie-rating-button"
                                th:each="i: ${#numbers.sequence(1,5)}"
                                name="rating"
                                th:value="${i}">
                            <!-- Pełną i pustą gwiazdkę rozróżniamy dodając odpowiednią klasę na podstawie głosu użytkownika -->
                            <i class="fa-star" th:classappend="${i <= userRating? 'fa-solid' : 'fa-regular'}"></i>
                        </button>
                    </div>
                </form>
                <p sec:authorize="!isAuthenticated()">
                    <a href="#" th:href="@{/login}">Zaloguj się</a>, aby oddać głos</p>
            </div>
        </section>
        <section class="movie-trailer-container movie-section">
            <h2 class="movie-section-heading">Trailer</h2>
            <iframe width="560" height="315" class="movie-trailer"
                    src="https://www.youtube.com/embed/V75dMMIW2B4"
                    th:src="|https://www.youtube.com/embed/${movie.youtubeTrailerId}|"
                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </section>
        <!-- opis -->
        <section class="movie-section">
            <h2 class="movie-section-heading">Opis</h2>
            <p th:text="${movie.description}">Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                ante sollicitudin. Cras
                purus odio, vestibulum in vulputate at,
                tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                felis in faucibus.</p>
        </section>

        <section class="comments-section">
            <h2 class="movie-section-heading">Komentarze</h2>
            <div class="added-coments">
                <ul>
                    <li th:each="comment: ${comments}" class="comment">
                        <p th:text="|Dodany: ${#temporals.format(comment.getDateAdded(), 'dd-MM-yyyy HH:mm')}|"
                           class="comment-date">Dodany
                            22-07-2021</p>
                        <p  th:text="${comment.content}"></p>
                        <p sec:authorize="hasAnyRole('ADMIN', 'EDITOR')">
                            <a href="#" th:href="@{|/usun-komentarz/${comment.id}|}">Usuń</a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="add-comment">
                <form action="#" th:action="@{/dodaj-komentarz}" method="post" class="comment-form" sec:authorize="authenticated">
                    <input type="number" hidden="hidden" name="movieId" th:value="${movie.id}">
                    <textarea id="content" name="content" rows="4" cols="50"
                              placeholder="Tutaj wpisz treść komentarza"></textarea>
                    <button type="submit">Zapisz komentarz</button>
                </form>
                <p sec:authorize="!isAuthenticated()">
                    <a href="#" th:href="@{/login}">Zaloguj się</a>, aby oddać głos</p>
            </div>

        </section>
    </main>
</div>
</body>
</html>